accelerate==0.30.1
cmake==3.30.3
huggingface-hub==0.25.1
jiwer==3.0.4
matplotlib==3.9.2
numpy==1.23.5
pandas==1.5.0
pillow==10.4.0
protobuf==5.26.1
psutil==5.9.8
PyYAML==6.0.2
safetensors==0.4.5
sentencepiece==0.2.0
tokenizers==0.15.2
torch==2.0.0
tqdm==4.66.4
transformers==4.39.3